.splash {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/splash.jpg");
  background-position: 0 -1200px;
  background-size: cover; }
  .splash span {
    text-align: center;
    color: white;
    font-size: 50px; }

.catalog {
  justify-content: space-between;
  margin-top: 100px; }

.cart {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.catalog-tile {
  margin-top: 50px;
  margin-bottom: 50px; }

.product-thumbnail img {
  border-radius: 50%; }

.similar-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.similar-thumbnail img {
  border-radius: 50%;
  max-width: 100%; }
