nav {
  display: flex;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(1, 1, 1, 0.25);
  align-items: center; }
  nav .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row; }

.nav-margins {
  margin-left: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
  margin-right: 10px; }
=======
=======
>>>>>>> 36e03a9f45a22cc06c18e83757b50398af41fcff
  margin-right: 10px;
  color: white;
  font-size: 20px; }

a {
  text-decoration: none; }
<<<<<<< HEAD
>>>>>>> 871050f865225054602645f591d94a80433e47b8
=======
>>>>>>> 36e03a9f45a22cc06c18e83757b50398af41fcff

/*navbar-logo
navbar-brand
cart-icon
login-signup
logged-in
log-out-btn*/
