.splash {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('/splash.jpg');
  background-position: 0 -1200px;
  background-size: cover;

  span {
    text-align: center;
    color: white;
    font-size: 50px;
  }
}

.catalog {
  justify-content: space-between;
  margin-top: 100px;
}

<<<<<<< HEAD
=======
.cart {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

>>>>>>> 87583b003cab0af6188a7a98f7543d3a64c633d8
.catalog-tile {
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-thumbnail {

  img {
    border-radius: 50%;
  }
}
