.splash {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('/splash.jpg');
  background-position: 0 -1200px;
  background-size: cover;

  span {
    text-align: center;
    color: white;
    font-size: 50px;
  }
}

.catalog {
  justify-content: space-between;
  margin-top: 100px;
}

// .cart {
//   margin-top: 100px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.catalog-tile {
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-thumbnail {
  border-radius: 50%;
  img {
    border-radius: 50%;
    max-width: 100%;
  }
}


.similar-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.similar-thumbnail {
  border-radius: 50%;
  img {
    border-radius: 50%;
    max-width: 100%;
  }
}


.reviews {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    // flex-direction: column;
  }
}

.flight {
  background-color: paleturquoise;
}

.ethical-x-ray-vision {
  background-color: white;
  border: 2px solid black;
}

.super-speed {
  background-color: tomato;
}

.telekinesis {
  background-color: royalblue;
}

.precognition {
  background-color: gold;
}

.telepathy {
  background-color: lavender;
}

.occlusion {
  background-color: gray;
}

.super-hearing {
  background-color: lightpink;
}

.super-sight {
  background-color: teal;
}

.super-smell {
  background-color: yellowgreen;
}

.super-strength {
  background-color: goldenrod;
}

.super-healing {
  background-color: turquoise;
}

.ethical-invisibility {
  background-color: peachpuff;
}

.energy-manipulation {
  background-color: orange;
}

.shape-shifting {
  background-color: olive;
}

.immortality {
  background-color: dodgerblue;
}

.super-agility {
  background-color: lightgreen;
}

.weather-manipulation {
  background-color: lightskyblue;
}

.teleportation {
  background-color: yellow;
}

hr {
  margin-top: 60px;
  background-color: darkgray;
  height: 3px;
}

.review-link {
  margin-top: 30px;
  margin-bottom: 30px;
}
